<ion-view>
    <ion-nav-title>
      <img src="img/logo.png">
      <span>Five Elements</span>
    </ion-nav-title>
  <ion-content id="elements-content" class="padding">

    <div class="row title">
      <div class="col">Element</div>
      <div class="col">Color</div>
      <div class="col"></div>
    </div>

    <ion-list>
      <ion-item class="plain" ng-repeat="element in elements" href="#/tab/elements/{{element.name}}">
        <div class="row row-align {{ element.color }}">
          <div class="col">{{element.name}}</div>
          <div class="col">{{element.color}}</div>
          <div class="col"><img ng-src="img/{{element.color}}_right_arrow.png" alt="{{element.name}} show more"></div>
        </div>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
