<ion-view>
    <ion-nav-title>
      <img src="img/logo.png">
      <span>Five Elements</span>
    </ion-nav-title>
  <ion-content id="elements-content" class="padding">
  
  <table>
  <tr>
      <th class="padding-left">Element</th>
      <th>Yin/Yang Organ</th>
      <th>Animal</th>
      <th>Season</th>
      <th></th>
    </tr>

    <tbody class="{{element.color}}" ng-repeat="element in elements">
    <tr>
      <td>{{element.name}}</td>
      <td>{{element.yin_organ}}/<br>{{element.yang_organ}}</td>
      <td>{{element.animal}}</td>
      <td>{{element.season}}</td>
      <td>
      <a href="#/tab/elements/{{element.name}}">
      <img ng-src="img/{{element.color}}_right_arrow.png" alt="{{element.name}} show more">
      </a>
      </td>
    </tr>
    </tbody>
    </table>

  </ion-content>
</ion-view>
